.container {
    width: 100%;
    padding: 10px;   /* ruimte rondom columns */
    box-sizing: border-box;
}

.kolom {
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}
