/* ===== STYLE GUIDE ===== */
* {
    box-sizing: border-box;
    padding: 10px;
    font-family: helvetica;
    font-size: 1em;
}

body {
    margin: 5px;
    background-color: #333;
}

header,
footer {
    background: #ddaa00;
    text-align: center;
}

nav {
    background: #ccc;
    padding: 5px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a {
    margin: 0 5px;
    color: #ddaa00;
    border: 1px solid #ccc;
    text-decoration: none;
}

main {
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div {
    margin: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

div img {
    padding: 0;
    width: 100%;
    height: auto;
}

div a {
    border: 1px solid #333;
    text-align: center;
    margin-top: auto;
}

h1 {
    margin: 0;
    color: white;
}


@media (min-width: 700px) {

    main {
        flex-direction: row;
        justify-content: space-between;
    }

    section {
        width: 32%;
    }
}
