body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h2{
    font-size: 26px;
}

main {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}


article {
    margin-bottom: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
}


article img {
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}


article:nth-of-type(1) img {
    float: left;
    margin-right: 15px;
}


article:nth-of-type(2) img {
    float: right;
    margin-left: 15px;
}


article:nth-of-type(3) img {
    float: left;
    margin-right: 15px;
}

article:nth-of-type(4) img {
    float: right;
    margin-left: 15px;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}


article::after {
    content: "";
    display: block;
    clear: both;
}
